.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
ssh_key_cbbps.ppk
data/
Oregon/data
Clemson/data
NewMexico/data
MississippiState/data
Oregon/app_cache/
Clemson/app_cache/
NewMexico/app_cache/
MississippiState/app_cache/